{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Abogada Yanela Mantovani</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
   <link rel="stylesheet" href="{% static 'css/main.css' %}">

   <!-- script
   ================================================== -->
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type='image/x-icon' >
	<link rel="icon" href="{% static 'favicon.ico' %}" type='image/x-icon'>

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header> 

   	<div class="header-logo">
	      <a href="#top">Abogada Yanela Mantovani</a>
	   </div> 

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a> 

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="cerrar"><span>Cerrar</span></a>	

		   <h3>MARÍA YANELA MANTOVANI <br>
		   ABOGADA </h3>  

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Inicio</a></li>
				<li><a class="smoothscroll" href="#about" title="">Acerca de</a></li>
				<li><a class="smoothscroll" href="#services" title="">Servicios</a></li>
				<li><a class="smoothscroll" href="#portfolio" title="">Blog</a></li>
				<li><a class="smoothscroll" href="#contact" title="">Contacto</a></li>						
			</ul>				

			<ul class="header-social-list">
			 <li>
				<a href="https://www.linkedin.com/in/mariayanelamantovani/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
			 </li>
	         <li>
	         	<a href="https://www.facebook.com/abogada.mantovani" target="_blank"><i class="fa fa-facebook-square"></i></a>
	         </li>
	         <li>
	         	<a href="https://www.instagram.com/abogada.mantovani/" target="_blank"><i class="fa fa-instagram"></i></a>
	         </li>        
	      </ul>		

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->  


   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  		
				  			<h1 class="animate-intro">MARÍA YANELA MANTOVANI</h1>	
							<h1 class="animate-intro title">ABOGADA</h1>

				  			<div class="more animate-intro">
				  				<a class="smoothscroll button stroke" href="#contact">
				  					Contacto
				  				</a>
				  			</div>							

			  		</div> <!-- end col-twelve --> 
		   	</div> <!-- end row --> 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->

		<ul class="home-social-list">
		  <li class="animate-intro">
	        	<a href="https://www.linkedin.com/in/mariayanelamantovani/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
		  </li>
	      <li class="animate-intro">
	        	<a href="https://www.facebook.com/abogada.mantovani" target="_blank"><i class="fa fa-facebook-square"></i></a>
		  </li>
	      <li class="animate-intro">
	        	<a href="https://www.instagram.com/abogada.mantovani/" target="_blank"><i class="fa fa-instagram"></i></a>
		  </li>    
	   </ul> <!-- end home-social-list -->	

		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">		
		   	Deslice hacia abajo	   	
		   	<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>			
   
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">Acerca de</h3>
	   			<p class="lead animate-this">Abogada egresada de la Facultad de Derecho - UNICEN. 
					   <br>Matrícula Provincial y Federal.
					   <br>Más de 8 años de experiencia trabajando en diversas áreas del Derecho Privado.
					   <br>
					   <br>Nuestro propósito es brindar a cada cliente una atención personalizada valorando su tiempo y su confianza en nuestro trabajo.
					   <br>Nos caracterizan la seriedad, la organización y el compromiso.
				   </p>	
				</div>   

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   <section id="services">

   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>
   	
   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">
   			
   				<h3>Servicios</h3>
   			   <h1>ASESORAMIENTO JURÍDICO INTEGRAL</h1>
   			
   			   <p class="lead">Derecho Civil y Comercial, Consumidor, Laboral, Familia y Sucesiones, Inmobiliario, Concursos y Quiebras.</p>
   			
   	   </div> <!-- end col-full -->
   	</div> <!-- end row -->

   	<div class="row services-content">

   		<div class="services-list block-1-2 block-tab-full group">

	      	<div class="bgrid service-item animate-this">	

	      		<span class="icon"><i class="icon-paint-brush"></i></span>            

	            <div class="service-content">
	            	<h3 class="h05">Derecho Privado</h3>

		            <p>Brindamos asesoramiento en diversas áreas del Derecho Privado con seriedad y compromiso.
						<br>Derecho Civil y Comercial. Contratos y Derecho del Consumidor. Concursos y Quiebras.
						<br>Sucesiones. Divorcios. Alimentos. Cuidado personal y comunicación con los hijos.
						<br>Reclamos laborales. Intercambio epistolar. Homologación de convenios.
						<br>Derecho Inmobiliario. Contratos de locación. Boletos de compraventa y escrituración. Usucapión. Asistencia y asesoramiento a clientes en la realización de actos y negocios jurídicos.
	         		</p>	         		
	         	</div> 	         	 

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">	

					<span class="icon"><i class="icon-earth"></i></span>                          

	            <div class="service-content">	
	            	<h3 class="h05">Representación de empresas</h3>  

		            <p>Amplia experiencia en representación de grandes empresas en instancias conciliatorias (automotrices, telefónicas, turísticas, etc.).
						<br>Mediaciones prejudiciales obligatorias. Audiencias y presentación de descargos escritos ante las Oficinas Municipales de Información al Consumidor (OMIC). Representación ante el Ministerio de Trabajo.
						<br>Procesos judiciales en materia de Derecho del Consumidor, Daños y Perjuicios, Juicios Ejecuivos, Laboral, Contencioso Administrativo, Concursos y Quiebras.
	         		</p>	         		
	            </div>	                          

			   </div> <!-- end bgrid -->

			   <div class="bgrid service-item animate-this">

			   	<span class="icon"><i class="icon-lego-block"></i></span>		            

	            <div class="service-content">
	            	<h3 class="h05">Cobranza y recupero crediticio</h3>

		            <p>La gestión de cobranza requiere planificación, orden y constancia. 
						<br>Ofrecemos un servicio de calidad en el recupero de sus créditos, analizando y segmentando las carteras para determinar las estrategias mas adecuadas.
						<br>Nos avalan más de 8 años de experiencia y buenos resultados trabajando con importantes empresas y entidades (bancos, tarjetas de crédito, obras sociales, sindicatos). 
						<br>Gestión de cobranza extrajudicial. Ejecución judicial ante las jurisdicciones federal y provincial. Verificación de créditos en concursos y quiebras.
	        			</p>
	            </div> 	            	               

			   </div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-megaphone"></i></span>	              

	            <div class="service-content">
	            	<h3 class="h05">Gestoría y procuración</h3>

		            <p>Gestión integral de trámites judiciales y extrajudiciales con responsabilidad y rapidez.
						<br>Procuración de expedientes judiciales y administrativos. Diligenciamiento de oficios, mandamientos y notificaciones. Registro de la Propiedad Automotor e Inmueble. Valuaciones fiscales. Partidas del Registro de las Personas. Trámites municipales.
						<br>Contamos con corresponsales en Tandil, Azul, General Alvear, Saladillo y otras ciudades del Departamento Judicial de Azul. 
						<br>Consúltenos.
	         		</p>	         		
	            </div>                

				</div> <!-- end bgrid -->			   

	      </div> <!-- end services-list -->
   		
   	</div> <!-- end services-content -->   			

   </section> <!-- end services -->


   <!-- portfolio
   ================================================== -->
   <section id="portfolio">
   	
   	<div class="intro-wrap">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
	   		<div class="col-twelve">
	   			<h3>BLOG/h3>
		   		<h1>ESTAMOS EN REDES SOCIALES</h1>  			
		   		
		   		<p class="lead">Cada semana compartimos contenido de interés sobre las áreas del derecho en las que nos desempeñamos.
					   <br>Lo invitamos a seguirnos en nuestras redes sociales.
				   </p>	   			
	   		</div>   		
	   	</div> <!-- end row section-intro -->   		

   	</div> <!-- end intro-wrap -->   	

   	<div class="row portfolio-content">
   		<div class="col-twelve">
   			<div id="folio-wrap" class="bricks-wrapper">					

   				<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="{% static 'images/portfolio/gallery/sucesiones.png' %}" data-sub-html="#01" > 	
	                  <a href="#" class="overlay">
	                  	<img src="{% static '/images/portfolio/sucesiones.png' %}" alt="Sucesiones">	                     
	                     <div class="item-text">
							<h3 class="folio-title">SUCESIONES</h3>	 
	                     	<span class="folio-types">
		     					      Ab-Intestato y Testamentarias
		     					   </span>			   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="link">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->
						
						<div id="01" class='hide'>
							<h4>SUCESIONES</h4>
							<p>Ab-Intestato y Testamentarias 
								<br><a href="https://www.instagram.com/p/CA-jbyyn6UA/" target="_blank">Cotinuar leyendo</a></p>
						</div>
	        		</div> <!-- end folio-item -->

	        		<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="{% static 'images/portfolio/gallery/alquileres.png' %}" data-sub-html="#02"> 	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/alquileres.png' %}" alt="Alquileres">	                     
	                     <div class="item-text">
							 <h3 class="folio-title">ALQUILERES</h3>  
	                     	<span class="folio-types">
		     					      Locación de inmuebles y COVID-19
		     					   </span>				   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="link">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="02" class='hide'>
							<h4>ALQUILERES</h4>
							<p>Locación de inmuebles y COVID-19 
								<br><a href="https://www.instagram.com/p/CAJEubon2ow/" target="_blank">Continuar leyendo</a></p>
						</div>	               
	        		</div> <!-- end folio-item -->

	        		<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="{% static 'images/portfolio/gallery/despidos.png' %}" data-sub-html="#03" >   	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/despidos.png' %}" alt="Despidos">	                     
	                     <div class="item-text">	
							<h3 class="folio-title">DESPIDOS</h3>                      		     					    
		     					   <span class="folio-types">
		     					      Emergencia sanitaria y prohibición de despidos y suspensiones 
		     					   </span>
		     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="link">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->	

	               <div id="03" class='hide'>
							<h4>DESPIDOS</h4>
							<p>Emergencia sanitaria y prohibición de despidos y suspensiones 
								<br><a href="https://www.instagram.com/p/B_nxXDPjZBk/" target="_blank">Continuar leyendo</a></p>
						</div>               
	        		</div> <!-- end folio-item -->

					<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/gallery/divorcios.png' %}"  data-sub-html="#04" >
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/divorcios.png' %}" alt="Divorcios">	                     
	                     <div class="item-text">
							 	    <h3 class="folio-title">DIVORCIOS</h3> 					    
		     					   <span class="folio-types">
		     					      Por presentación conjunta o unilateral
		     					   </span>
		     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="link">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="04" class='hide'>
							<h4>DIVORCIOS</h4>
							<p>Por presentación conjunta o unilateral
								<br><a href="https://www.instagram.com/p/CAgGSh3H7ah/" target="_blank">Continuar leyendo</a></p>
						</div>  	               
					</div> <!-- end folio-item -->
					
   			</div> <!-- end folio-wrap -->
   		</div> <!-- end twelve -->
   	</div> <!-- end portfolio-content -->   	

   </section>  <!-- end portfolio -->


	<!-- contact
   ================================================== -->
   <section id="contact">

      <div class="overlay"></div>

		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-twelve">
   			<h3>Contacto</h3>
   			<h1>ATENDEMOS SU CONSULTA</h1>

   			<p class="lead">Estamos para responder sus dudas y llevar adelante su gestión. 
				   <br>No dude en contactarnos.
			   </p>
   		</div> 
   	</div> <!-- end section-intro -->

   	<div class="row contact-content">

   		<div class="col-seven tab-full animate-this">

   			<h5>Envíenos un mensaje</h5>

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post">     			

               <div class="form-field">
 					   <input name="contactName" type="text" id="contactName" placeholder="Nombre y Apellido" value="" minlength="2" required="">
               </div>

               <div class="row">
                 	<div class="col-six tab-full">
                 		<div class="form-field">
                 			<input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                 		</div>		      			   
		            </div>
	            	<div class="col-six tab-full">	            
	            		<div class="form-field">
	            			<input name="contactSubject" type="text" id="contactSubject" placeholder="Asunto" value="">
	                  </div>		     				   
		            </div>
               </div>
                                         
               <div class="form-field">
	              	<textarea name="contactMessage" id="contactMessage" placeholder="Mensaje" rows="10" cols="50" required=""></textarea>
	            </div> 

               <div class="form-field">
                  <button class="submitform">Enviar</button>

                  <div id="submit-loader">
                     <div class="text-loader">Enviando...</div>                             
       			      <div class="s-loader">
							  	<div class="bounce1"></div>
							  	<div class="bounce2"></div>
							  	<div class="bounce3"></div>
							</div>
						</div>
               </div>

      		</form> <!-- end form -->

            <!-- contact-warning -->
            <div id="message-warning"></div> 

            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Gracias por escribirnos. Su mensaje fue enviado, pronto nos pondremos en contacto con usted.<br>
      		</div>

         </div> <!-- end col-seven --> 

         <div class="col-four tab-full contact-info end animate-this">

         	<h5>Información de contacto</h5>

         	<div class="cinfo">
	   			<h6>Nos encontramos en</h6>
	   			<p>
	            	Tandil - CP 7000<br>
	            	Pcia. de Buenos Aires<br>
	            	Argentina
	            </p>
	   		</div> <!-- end cinfo -->

	   		<div class="cinfo">
	   			<h6>Envíenos un email a</h6>
	   			<p>
	   				yanelamantovani@icloud.com<br>			     
				   </p>
	   		</div> <!-- end cinfo -->

	   		<div class="cinfo">
	   			<h6>Llamadas o Whatsapp al</h6>
	   			<p>
	   				(+54) 2281 666599
				   </p>
	   		</div>

         </div> <!-- end cinfo --> 

   	</div> <!-- end row contact-content -->
		
	</section> <!-- end contact -->


	<!-- footer
   ================================================== -->
	<footer>
     	<div class="footer-main">

   		<div class="row">  

	      	<div class="col-five tab-full footer-about">       

	            <h4 class="h05">Abogada Yanela Mantovani</h4>

	            <p>Tandil - Azul - Gral. Alvear - Saladillo
					<br>Horario de atención: de lunes a viernes 
					<br>de 9 a 17 hs.
				</p>	            

		      </div> <!-- end footer-about -->

	      	<div class="col-three tab-full footer-social">

	      		<h4 class="h05">Síganos</h4>

	      		<ul class="list-links">
					<li><a href="https://www.linkedin.com/in/mariayanelamantovani/" target="_blank">LinkedIn</a></li>
					<li><a href="https://www.facebook.com/abogada.mantovani" target="_blank">Facebook</a></li>
					<li><a href="https://www.instagram.com/abogada.mantovani" target="_blank">Instagram</a></li>						
				</ul>

	      	</div> <!-- end footer-social -->  

	      	<div class="col-four tab-full footer-subscribe end">

	      		<h4 class="h05">Suscríbase</h4>

	      		<p>Reciba nuestro newsletter con información actualizada.</p>

	      		<div class="subscribe-form">
	      	
	      			<form id="mc-form" class="group" novalidate="true">

							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Email" required=""> 
	   		
			   			<!-- <input type="submit" name="subscribe" > -->
			   			<button><i class="icon-mail"></i></button>
		   	
		   				<label for="mc-email" class="subscribe-message"></label>
			
						</form>

	      		</div>
	      	           	
	      	</div> <!-- end footer-subscribe -->      	    

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

   	<div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Infinity 2016.</span> 
		         	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>		         	
		         </div>		               
	      	</div>

      	</div>   	

      </div> <!-- end footer-bottom -->

      <div id="go-top">
		   <a class="smoothscroll" title="Inicio" href="#top">
		   	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		   </a>
		</div>		
   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>

</body>

</html>